[Desktop Entry]
Type=Application
Name=Gnats
Comment=Screensaver effect: gnats
Exec=idle preview gnats
Icon=trance-gnats
Terminal=false
Categories=Screensaver;
